$btn-types: 'contained', 'outlined', 'text', 'fab';
$btn-sizes: 'small', 'medium', 'large';
$btn-padding-y: 10px;
$btn-padding-x: 30px;
$btn-padding-fab: 30px;
$btn-width-fab: 58px;
$btn-height-fab: 58px;
$btn-text-small: .8rem;
$btn-text-medium: 1.1rem;
$btn-text-large: 1.3rem;