// general
$h3: 2.5rem;
$header-weight: 600;
$primary-text-weight: 400;
$primary-border-radius: 15px;

// navbar
$navbar-brand-size: 2rem;
$navbar-brand-subtitle-size: 1.2rem;
$navbar-height: 80px;

// buttons
$button-text-size: 18px;