// theme
$primaryColor: #6223EE;
$primaryDarkColor: #3b08aa;
$primaryLightColor: #7e49f1;
$backgroundCard: #E5E5E5;
$backgroundHeaderCard: #ddd7d7;
$borderHeaderCard: #b8b4b4;
$disabled: #DFDFDF;
$backgroundCode: #212121;
$primaryTextColor: #212121;
$backgroundGradientFrom: #f9f5f5;
$backgroundGradientTo: #E5E5E5;
$btnDefault: #cfd2d3;
$btnOutlinedPressed: #d6d3d3;

$white-color: #FFFFFF;  
$black-color: #212121;